body {
  background: linear-gradient(to bottom right, #ed8c3a, #f0b045);
}

/* Overskrifter med skrifttypen "Lora" */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 700; /* Bold */
  /* Andre stilarter som størrelse, farve, osv. */
}

/* Brødtekst med skrifttypen "Open Sans" */
p,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /* Normal */
  /* Andre stilarter som størrelse, farve, osv. */
}
