main {
  padding: 40px;
}

.front {
  display: flex;
  align-items: center;
  text-align: center;
}

.front h1 {
  font-size: 64px;
  width: 100%; /* Set text to take up 50% of the container's width */
  text-align: left;
}
.front h2 {
  font-size: 64px;
  width: 100%; /* Set text to take up 50% of the container's width */
  margin-bottom: 130px;
  text-align: right;
}

.front img {
  max-width: 100%; /* Ensure image doesn't exceed container's width */
  margin: 0 auto; /* Center the image horizontally */
}

.productButton {
  background-color: #ed8c3a;
  padding: 20px 45px;
  margin-top: 20px;
  text-align: left;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add this line */
}
.productButton:hover {
  background-color: #d97a2d; /* Adjust the hover background color */
}

.productButton a {
  color: #000;
  font-size: 34px;
  text-decoration: none;
}

/* Product section styles */
/* Product section styles */
.product {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 20px;
}

.product .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20%;
}

.product .item img {
  max-width: 100%;
}

.product.item h2,
.product.item p {
}

/* Two by two grid */
.two-by-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 20px;
}

.two-by-two .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.two-by-two .item img {
  max-width: 100%;
}

.footer {
  background-color: #ed8c3a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0; /* Juster bunden af footer til bunden af visningen */
  width: 100%; /* Gør footeren spanne hele bredden */
}
