main {
  padding: 40px;
}

.front {
  display: flex;
  align-items: center;
  text-align: center;
}

.front h1 {
  font-size: 64px;
  width: 160%; /* Set text to take up 50% of the container's width */
  text-align: left;
}
.front h2 {
  font-size: 25px;
  width: 160%; /* Set text to take up 50% of the container's width */
  text-align: left;
}

.front img {
  max-width: 60%; /* Ensure image doesn't exceed container's width */
  max-height: 800px;
  margin: 0 auto; /* Center the image horizontally */
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 0px;
}

.product .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20%;
  margin-top: -18%;
}

.product .item img {
  max-width: auto;
  height: 400px;
}

.product .item h2 {
  font-size: 28px;
}

.product .item p {
  padding: 20px;

  margin-left: -70px;
  margin-right: -80px;
  background-color: rgba(255, 0, 0, 0.2); /* Adjust the background color */
}

.footer {
  background-color: #ed8c3a;
  color: #3c3c3c;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 694px) {
  .product .item p {
    font-size: 16px;
    padding: 30px;
    background-color: rgba(255, 0, 0, 0.2); /* Adjust the background color */
    margin-bottom: -70px;
  }

  .product {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 columns */
    grid-gap: 20px;
  }
}
