body {
  background: linear-gradient(to bottom right, #ed8c3a, #f0b045);
}

/* Overskrifter med skrifttypen "Lora" */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 700; /* Bold */
  /* Andre stilarter som størrelse, farve, osv. */
}

/* Brødtekst med skrifttypen "Open Sans" */
p,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /* Normal */
  /* Andre stilarter som størrelse, farve, osv. */
}
/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically align items */
}

.navbar .logo img {
  max-height: 80px; /* Adjust the height of the logo as needed */
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-links li {
  margin-right: 60px; /* Adjust spacing between navigation items */
}

.navbar .nav-links li:last-child {
  margin-right: 40px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.navbar .nav-links a:hover {
  color: #000; /* Adjust link color on hover */
}

/* Main content styles */
/* Main content styles */
/* Main content styles */
/* Main content styles */
/* Main content styles */
/* Main content styles */
main {
  padding: 40px;
}

.front {
  display: flex;
  align-items: center;
}

.front h1 {
  font-size: 24px;
  width: 100%; /* Set text to take up 50% of the container's width */
}

.front img {
  max-width: 100%; /* Ensure image doesn't exceed container's width */
  margin: 0 auto; /* Center the image horizontally */
}

.footer {
  background-color: #ed8c3a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0; /* Juster bunden af footer til bunden af visningen */
  width: 100%; /* Gør footeren spanne hele bredden */
}
