body {
  background: linear-gradient(to bottom right, #ed8c3a, #f0b045);
}

/* Overskrifter med skrifttypen "Lora" */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 700; /* Bold */
  /* Andre stilarter som størrelse, farve, osv. */
}

/* Brødtekst med skrifttypen "Open Sans" */
p,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /* Normal */
  /* Andre stilarter som størrelse, farve, osv. */
}
/* Navigation styles */
.navbar {
  padding: 10px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically align items */
}

.navbar .logo img {
  max-height: 80px; /* Adjust the height of the logo as needed */
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-links li {
  margin-right: 80px; /* Adjust spacing between navigation items */
}

.navbar .nav-links li:last-child {
  margin-right: 0;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.navbar .nav-links a:hover {
  color: #000; /* Adjust link color on hover */
}
